<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reservation #<%= @reservation.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Owner</dt>
              <dd><%= @reservation.user.username %></dd>
			  <dt>Item</dt>
              <dd><%= @reservation.item.name %></dd>
			  <dt>Description</dt>
			  <dd><%= @reservation.item.description %></dd>
			  <dt>price</dt>
			  <dd><%= @reservation.item.price %></dd>
			  <dt>Image</dt>
			  <dd><img src="<%= @reservation.item.image_url %>" style="width:200px"></dd>
			  

              </dl>
            <div class="btn-group btn-group-justified">
              <a href="/reservations" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/reservations/<%= @reservation.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_reservation/<%= @reservation.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
